@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 98.38vw;
    height: 100vh;
}

nav {
    background-color: red;
    width: 98.38vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 8px;
}

nav > h1 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 2.3%;
}

nav > ul {
    list-style: none;
    display: flex;
    margin-left: 30vw;
}

nav > ul > li {
    letter-spacing: 3px;
    margin-left: 30px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    transition: 0.3s; 
}

nav > ul > li > a:hover {
    opacity: 0.7;
}

nav > ul > li > a#ativo {
    color: white;
    opacity: 0.7;
}

main {
    background-color: gray;
    width: 98.38vw;
    height: 200vh;
}

main > section {
    background-color: rgb(150, 106, 106);
    padding-bottom: 12px;
    text-align: center;
}

main > section > iframe {
    margin: 25px 0px 30px 0px;
    width: 68vw;
    height: 58vh;
    border: 1px solid black;
    background-color: cornflowerblue;
}

main > section.text {
    background-color: green;
    width: 94.48vw;
    padding: 20px;
    display: flex;
    height: 50vh;
    box-shadow: 0.5px 0.5px 7px rgba(0, 0, 0, 0.329);
}

main > section.text > p {
    margin-top: 45px;
    width: 80vw;
    line-height: 1.7em;
    font-size: 1.3em;
}

main > section.text > iframe {
    background-color: blueviolet;
    height: 40vh;
    width: 40vh;
    margin-left: 30px;
}

main > section.cat {
    margin-top: 50px;
    background-color: aqua;
    height: 69vh;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.200);
    padding-bottom: 120px;
}

main > section.cat > h1 {
    font-size: 2em;
    text-align: left;
    background-color: darkorange;
    border: 1px solid darkorange;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px 10px 30px;
}

main > section.cat > div {
    background-color: blue;
    width: 260px;
    height: 260px;
    margin: 100px 0px 0px 30px;
    display: inline-block;
}

footer {
    background-color: rgb(78, 78, 78);
    padding: 10px 0px;
    color: white;
    font-size: 0.8em;
    width: 98.38vw;
    height: 2.5vh;
    margin-top: 120px;
}

footer > p {
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: rgb(243, 243, 243);
}

footer > p > a:hover {
    color: white;
}